

<div class="container">
	<div class="row-fluid">
		<div class="span12">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">未打卡申请</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li >
								<a href="#">
									首页
									<span class="sr-only">(current)</span>
								</a>
							</li>

						</ul>

						<ul class="nav navbar-nav navbar-right">

							<li>
								<a href="#">您好，亲爱的{$Think.session.username} {$title}</a>
							</li>
							<li>
								<a href="{:U('Member/logout')}">退出</a>
							</li>

						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<div class="row"></div>

	</div>

	<div class="container ">
		<div class="row col-md-6">
			<form method="post" action="__URL__/apply">		
			<label for="date">未打卡日期</label>
			<div class="form-group">
                <input name='dk_date' id='date' size="16" type="text"  data-date-format="yyyy-mm-dd " value="2016-03-28" readonly class="form_date">
            </div>
			
			<div class="formgroup">
				
				<label>未打卡时间</label>
			<div class="checkbox">
				<label>
					<input name='dk_time[]'  type="checkbox" value="am">
					早上7:30之前
				</label>
			</div>
			<div class="checkbox ">
				<label>
					<input name='dk_time[]' type="checkbox" value="noon" >中午11:30-12:30</label>
			</div>
			<div class="checkbox ">
				<label>
					<input name='dk_time[]' type="checkbox" value="pm" >下午4:45之后</label>
			</div>
			</div>
			<label>是否请假</label>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="已请假" checked>
					已请假
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="未请假">
					未请假
				</label>
			</div>
			<div class="formgroup">
			<label for="reason">理由</label>
			<textarea name='reason' id='reason' class="form-control" rows="3"></textarea>	
			</div>
			
			<button type="submit" class="btn btn-default">申请</button>
		</form>
		</div>
		<div>
			<label>已通过申请列表</label><br>
				<volist id='vo' name='kqlist'>
					{$i} -- {$vo.dk_date} -- {$vo.optionsradios} -- {$vo.reason}<br>
				</volist>
			</div>

	</div>
</div>
</div>