
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li>
				<a href="__URL__/index">个人信息<span class="sr-only">(current)</span></a></li>
				<li><a href="__URL__/upload_pic">上传照片</a></li>
			
			</ul>

		</div>
		<div  id="print" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="row" >
				<if condition="$enrolled eq 0">
				<div class="col-sm-6">
					<a href="__URL__/insert" class='btn btn-success' role='button'>请您先填写您的个人信息</a>
					
				</div>
				<else />
				<legend style="text-align: center;">
						<h3>山东省青岛第十七中学<br>2016年自主招生报名信息表</h3>

				</legend>
				打印时间
				<span id="print_time"></span>&nbsp;&nbsp;&nbsp;&nbsp; 确认码： {$uid}(现场确认时请提供序号)
				<table class=' table-bordered table-striped table-hover table-condensed'>
				
					<tr>
						<td colspan='4'>基础信息</td>
						<td rowspan='6' style="width:160px"><img  width='160' src="__ROOT__{$pic_url}" alt="" /></td>
					</tr>
					<tr>
						
						<td>姓名</td>
						<td>{$student_name}</td>
						<td>学籍号</td>
						<td>{$student_number}</td>
						
						
					</tr>
					<tr>
					<td>性别</td>
						<td>{$student_sex}</td>
						<td>身份证号</td>
						<td>{$id_number}</td>
					</tr>
					<tr>
						<td>民族</td>
						<td>{$student_race}</td>
						<td>政治面貌</td>
						<td colspan='1'>{$political_status}</td>	
						
						
					</tr>
					<tr>
						<td>在校职务</td>
						<td>{$student_duty}</td>
						<td>毕业学校</td>
						<td>{$graduation_school}</td>						
					</tr>
					
					<tr>
						<td>出生年月</td>
						<td>{$student_birth}</td>
						<td>是否应届毕业生</td>
						<td colspan='1'>{$contact_number1}</td>
						
					</tr>
					<tr>
						
						
						
						
					</tr>
					<tr>
					<td >通讯地址</td>
						<td colspan='2'>{$student_address}</td>
						<td>联系电话</td>
						<td colspan='2'>{$contact_number2}</td>
						
						
					</tr>				
								<tr>
								<td rowspan='3'>监护人<br>信息</td>
								<td>称谓</td>
								<td >姓名</td>
								<td>工作单位</td>
								<td>联系手机</td>
								
							</tr>
							<tr>
								<td>{$guarder1_greet}</td>
								<td>
									{$guarder1_name} </td>
									<td>
									{$guarder1_address} </td>
								<td> {$guarder1_tel}
									</td>
								
									
							</tr>
							<tr>
								<td>{$guarder2_greet}</td>
								<td>
									{$guarder2_name} </td>
									<td>
									{$guarder2_address} </td>
								<td>{$guarder2_tel}
									</td>
								
							</tr>
					<!-- end changshi -->
					
					<tr>
						<td rowspan='2'>学业水<br>平等级</td>
						<td>地理等级</td>
						
						<td>生物等级</td>
						<td  colspan='2'>信息技术等级</td>
					</tr>
					<tr>
						
						<td>{$geography_level}</td>
						
						<td>{$biologic_level}</td>
						<td  colspan='2'>{$it_level}</td>
					</tr>
					
						
					<!-- changshi  -->		
					
					
					<tr>
						<td colspan='6'>初中阶段发展标志性成果(含综合荣誉称号)</td>
					</tr>
				
					<tr>
								<td>序号</td>
								<td colspan='4'>获奖内容</td>
							</tr>
							<tr>
								<td>1</td>
								<td colspan='4'>{$hornor1}</td>
							</tr>
							<tr>
								<td>2</td>
								<td colspan='4'>{$hornor2}</td>
							</tr>
							<tr>
								<td>3</td>
								<td colspan='4'>{$hornor3}</td>
							</tr>
				</table>
				
				注：1.本表请确认无误后用A4纸打印。<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.照片可上传，也可以打印后粘贴，要求是近期免冠照片且须与现场确认携带照片一致。
				
						
					</div>
					<br>
					
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		
		<a class="btn btn-success" href="__URL__/edit" role="button">修改</a>
						<input type="button" onclick="a()" value="打印"/>
	</div>
				</if>

			</div>
		
		</div>
</div>


<script type="text/javascript">

</script>

