

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="__URL__/confirm">Confirm <span
						class="sr-only">(current)</span></a></li>
				<li><a href="__URL__/print_info">Print</a></li>

			</ul>

		</div>
		<div id="print" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="row">
				<legend>
					<h2>青岛十七中2016年自主招生报名信息确认表</h2>

				</legend>
				打印时间
				<?php echo date('Y-m-d h:i:s');?>
				&nbsp; 
				<table
					class=' table-bordered table-striped table-hover table-condensed'>

					<tr>
						<th colspan='6'>基础信息</th>
					</tr>
					<tr>

						<td>姓名</td>
						<td>{$student_name}</td>
						<td>学籍号</td>
						<td>{$student_number}</td>

						<td rowspan='4'><img width='100' src="__ROOT__{$pic_url}"
							alt="" /></td>
					</tr>
					<tr>
						<td>在校职务</td>
						<td>{$student_duty}</td>
						<td>毕业学校</td>
						<td>{$graduation_school}</td>

					</tr>
					<tr>
						<td>性别</td>
						<td>{$student_sex}</td>
						<td>身份证号</td>
						<td>{$id_number}</td>
					</tr>
					<tr>
						<td>民族</td>
						<td>{$student_race}</td>
						<td>政治面貌</td>
						<td colspan='2'>{$political_status}</td>



					</tr>
					<tr>
						<td>出生日期</td>
						<td>{$student_birth}</td>
						<td>联系电话1</td>
						<td colspan='2'>{$contact_number1}</td>

					</tr>
					<tr>
						<td>邮政编码</td>
						<td>{$zipcode}</td>
						<td>联系电话2</td>
						<td colspan='2'>{$contact_number2}</td>


					</tr>
					<tr>
						<td>通讯地址</td>
						<td colspan='4'>{$student_address}</td>


					</tr>
					<tr>
						<th colspan='6'>监护人信息</th>
					</tr>
					<tr>
						<th class="col-sm-2">类别</th>
						<th class="col-sm-2">姓名</th>
						<th class="col-sm-2">联系手机</th>
						<th colspan='2'>工作单位</th>
					</tr>
					<tr>
						<td>第一监护人</td>
						<td>{$guarder1_name}</td>
						<td>{$guarder1_tel}</td>
						<td colspan='2'>{$guarder1_address}</td>

					</tr>
					<tr>
						<td>第二监护人</td>
						<td>{$guarder2_name}</td>
						<td>{$guarder2_tel}</td>
						<td colspan='2'>{$guarder2_address}</td>
					</tr>
					<!-- end changshi -->
					<tr>
						<th colspan='6'>会考成绩</th>
					</tr>
					<tr>
						<th>地理成绩</th>
						<th>地理等级</th>
						<th>生物成绩</th>
						<th>生物等级</th>
						<th>信息技术等级</th>
					</tr>
					<tr>
						<td>{$geography_score}</td>
						<td>{$geography_level}</td>
						<td>{$biologic_score}</td>
						<td>{$geography_level}</td>
						<td colspan='3'>{$it_level}</td>
					</tr>


					<!-- changshi  -->
					<tr>
						<th colspan='6'>初中成绩排名</th>
					</tr>
					<tr>
						<th colspan='2'>初一</th>
						<th colspan='2'>初二</th>
						<th>初三</th>

					</tr>
					<tr>
						<td>初一上学期</td>
						<td>初一下学期</td>
						<td>初二上学期</td>
						<td>初二下学期</td>
						<td>初三上学期</td>
					</tr>
					<tr>
						<td>{$g1st}</td>
						<td>{$g1nd}</td>
						<td>{$g2st}</td>
						<td>{$g2nd}</td>
						<td>{$g3st}</td>
					</tr>

					<tr>
						<th colspan='6'>初中所获成果</th>
					</tr>

					<tr>
						<td>序号</td>
						<td colspan='4'>获奖内容</td>
					</tr>
					<tr>
						<td>1</td>
						<td colspan='4'>{$hornor1}</td>
					</tr>
					<tr>
						<td>2</td>
						<td colspan='4'>{$hornor2}</td>
					</tr>
					<tr>
						<td>3</td>
						<td colspan='4'>{$hornor3}</td>
					</tr>
				</table>



			</div>
			<input type="button" onclick="a()" value="打印"/>
		</div>
		<script type="text/javascript">
			
		</script>

	</div>
</div>