
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
   <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="__PUBLIC__/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="__PUBLIC__/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
      
   
      $(document).ready(function(){
        $("[name='graduation_school']").val('<?php echo $graduation_school;?>');
        $("[name='student_sex']").val('<?php echo $student_sex;?>');
        $("[name='student_race']").val('<?php echo $student_race;?>');
        $("[name='biologic_level']").val('<?php echo $biologic_level;?>');
        $("[name='it_level']").val('<?php echo $it_level;?>');
        $("[name='geography_level']").val('<?php echo $geography_level;?>');
        $("[name='political_status']").val('<?php echo $political_status;?>');
    /*    动态设置菜单高亮*/
        $("ul.nav li").removeClass('active');
        $("[href='__ACTION__<?php echo  ''; ?>']").parent().addClass('active');

      });
    </script>
  </body>
</html>